<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.hit.hradar.domain.grading.query.mapper.GradeObjectionMapper">
    <select id="findByIndividualGradeId"
            resultType="org.hit.hradar.domain.grading.query.dto.response.GradeObjectionResponseDto">

        SELECT
            objection_id        AS objectionId,
            objection_reason    AS objectionReason,
            objection_status    AS objectionStatus,
            objection_result    AS objectionResult,
            resolved_by         AS resolvedBy
        FROM grade_objection
        WHERE individual_grade_id = #{individualGradeId}
          AND is_deleted = 'N'
        ORDER BY created_at DESC

    </select>
</mapper>
