spring:
  application:
    name: api-gateway

  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: auth
              uri: lb://auth-service
              predicates:
                - Path=/api/auth/**
              filters:
                - StripPrefix=1

            - id: hr
              uri: lb://hr-service
              predicates:
                - Path=/api/v1/**
              filters:
                - StripPrefix=2
                - name: JwtAuthentication

            - id: notification
              uri: lb://notification-service
              predicates:
                - Path=/api/notifications/**
              filters:
                - StripPrefix=1
                - name: JwtAuthentication
