<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.hit.hradar.domain.salary.query.mapper.BasicSalaryMapper">
  <select id="findAllBasicSalaries"
    parameterType="org.hit.hradar.domain.salary.query.dto.request.BasicSalarySearchRequest"
    resultType="org.hit.hradar.domain.salary.query.dto.BasicSalaryDTO">
    <!-- 기본급 목록 조회 (전체)-->
    SELECT YEAR(ad.APPROVED_AT) AS year -- 년도
         , emp.EMP_ID  -- 사원 pk
         , emp.EMPLOYEE_NO -- 사번
         , emp.NAME -- 사원명
         , dep.DEPT_NAME  -- 부서명
         , cp.NAME -- 직위
         , ad.APPROVED_AT -- 승인 일시
         , emp.type AS employmentType-- 재직 상태
      FROM APPROVAL_DOCUMENT ad
      JOIN BASIC_SALARY_EMPLOYEE bse ON ad.DOC_ID = bse.DOC_ID
      JOIN EMPLOYEE emp ON bse.EMP_ID = emp.EMP_ID
      JOIN DEPARTMENT dep ON emp.DEPT_ID = dep.DEPT_ID
      JOIN company_position cp ON emp.POSITION_ID = cp.POSITION_ID
     WHERE ad.IS_DELETED = 'N'
       AND bse.IS_DELETED = 'N'
       AND emp.IS_DELETED = 'N'
       AND dep.IS_DELETED = 'N'
       AND cp.IS_DELETED = 'N'
    <if test="deptId != null">
       AND dep.DEPT_ID = #{deptId}
    </if>
    <if test="employmentType != null">
       AND emp.TYPE = #{employmentType}
    </if>
    <if test="employeeNo != null and employeeNo != ''">
       AND emp.EMPLOYEE_NO LIKE CONCAT('%', #{employeeNo}, '%')
    </if>
    <if test="employeeName != null and employeeName != ''">
       AND emp.NAME LIKE CONCAT('%', #{employeeName}, '%')
    </if>
     ORDER BY emp.NAME ASC
  </select>

  <select id="findAllBasicSalariesByEmpId"
    parameterType="Long"
    resultType="org.hit.hradar.domain.salary.query.dto.BasicSalaryDTO">
    <!-- 기본급 목록 조회 (본인)-->
    SELECT YEAR(ad.APPROVED_AT) AS year -- 년도
         , emp.EMP_ID  -- 사원 pk
         , emp.EMPLOYEE_NO -- 사번
         , emp.NAME -- 사원명
         , dep.DEPT_NAME  -- 부서명
         , cp.NAME -- 직위
         , ad.APPROVED_AT -- 승인 일시
      FROM APPROVAL_DOCUMENT ad
      JOIN BASIC_SALARY_EMPLOYEE bse ON ad.DOC_ID = bse.DOC_ID
      JOIN EMPLOYEE emp ON bse.EMP_ID = emp.EMP_ID
      JOIN DEPARTMENT dep ON emp.DEPT_ID = dep.DEPT_ID
      JOIN company_position cp ON emp.POSITION_ID = cp.POSITION_ID
     WHERE ad.IS_DELETED = 'N'
       AND bse.IS_DELETED = 'N'
       AND emp.IS_DELETED = 'N'
       AND dep.IS_DELETED = 'N'
       AND cp.IS_DELETED = 'N'
       AND emp.EMP_ID = #{empId}
  </select>

  <select id="findBasicSalarySummaryByEmpIdAndYear"
    resultType="org.hit.hradar.domain.salary.query.dto.BasicSalaryDTO">
    <!-- 기본급 히스토리 (전년도/ 올해) -->
    SELECT bse.BASIC_SALARY_EMPLOYEE_ID
         , ad.DOC_ID
         , ad.TITLE
         , bse.EMP_ID
         , bse.BASIC_SALARY
         , bse.INCREASE_RATE
         , bse.INCREASE_AMOUNT
         , ad.APPROVED_AT
    FROM basic_salary_employee bse
      JOIN approval_document ad ON ad.doc_id = bse.doc_id
     WHERE bse.IS_DELETED = 'N'
       AND ad.IS_DELETED = 'N'
       AND bse.EMP_ID = #{empId}
       AND YEAR(ad.approved_at) = #{year}
  </select>

  <select id="findAllBasicSalariesHistoryByEmpId"
    resultType="org.hit.hradar.domain.salary.query.dto.BasicSalaryHistoryDTO">
    <!-- 기본급 히스토리 (전년도/ 올해) -->
    SELECT YEAR(ad.approved_at) AS year
         , ad.TITLE
         , LAG(bse.basic_salary) OVER (PARTITION BY bse.emp_id ORDER BY ad.approved_at) AS prevSalary
         , bse.basic_salary              AS currentSalary
         , bse.increase_rate
         , ad.approved_at
      FROM basic_salary_employee bse
      JOIN approval_document ad ON ad.doc_id = bse.doc_id
     WHERE bse.IS_DELETED = 'N'
       AND ad.IS_DELETED = 'N'
       AND bse.EMP_ID = #{empId}
     ORDER BY ad.approved_at DESC
  </select>

  <select id="findEmployeeBasicSalaryByEmpIdAndYear"
    resultType="org.hit.hradar.domain.salary.query.dto.BasicSalaryDTO">
    <!-- 사원 기본급 조회 -->
    SELECT bse.BASIC_SALARY_EMPLOYEE_ID
         , ad.DOC_ID
         , ad.TITLE
         , bse.EMP_ID
         , bse.BASIC_SALARY
         , bse.INCREASE_RATE
         , bse.INCREASE_AMOUNT
         , ad.APPROVED_AT
      FROM APPROVAL_DOCUMENT ad
      JOIN BASIC_SALARY_EMPLOYEE bse ON ad.DOC_ID = bse.DOC_ID
     WHERE ad.IS_DELETED = 'N'
       AND bse.IS_DELETED  = 'N'
       AND ad.DOC_TYPE = 'SALARY'
       AND ad.STATUS = 'APPROVED'
       AND bse.EMP_ID = #{empId}
       AND YEAR(ad.approved_at) = #{year}
  </select>

</mapper>