<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.hit.hradar.domain.salary.query.mapper.CompensationSalaryMapper">
  <select id="findAllCompensationHistory"
    parameterType="org.hit.hradar.domain.salary.query.dto.request.CompensationHistorySearchRequest"
    resultType="org.hit.hradar.domain.salary.query.dto.CompensationHistoryDTO">

    SELECT YEAR(ad.APPROVED_AT) AS year
         , cse.COMPENSATION_TYPE AS type
         , ad.TITLE
         , cse.AMOUNT
         , ad.DOC_TYPE
         , cse.RATE
         , ad.APPROVED_AT
         , cse.EMP_ID
      FROM COMPENSATION_SALARY_EMPLOYEE cse
      JOIN APPROVAL_DOCUMENT ad
        ON cse.DOC_ID = ad.DOC_ID
     WHERE cse.IS_DELETED = 'N'
       AND ad.IS_DELETED = 'N'
       AND ad.DOC_TYPE = 'COMPENSATION'
       AND ad.STATUS = 'APPROVED'
       AND cse.EMP_ID = #{empId}
    <if test="year != null">
       AND YEAR(ad.APPROVED_AT) = #{year}
    </if>
    <if test="type != null">
       AND cse.COMPENSATION_TYPE = #{type}
    </if>
  </select>

  <select id="findEmployeeCompensationSalarySummary"
    resultType="org.hit.hradar.domain.salary.query.dto.CompensationSalaryDTO">

    SELECT cse.COMPENSATION_TYPE
         , SUM(cse.AMOUNT)  AS totalAmount
      FROM COMPENSATION_SALARY_EMPLOYEE cse
      JOIN approval_document ad ON ad.doc_id = cse.doc_id
     WHERE cse.is_deleted = 'N'
       AND ad.is_deleted = 'N'
       AND ad.STATUS = 'APPROVED'
       AND ad.DOC_TYPE = 'COMPENSATION'
       AND YEAR(ad.approved_at) = #{year}
       AND cse.EMP_ID = #{empId}
     GROUP BY cse.COMPENSATION_TYPE
  </select>

</mapper>