<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.hit.hradar.domain.salary.query.mapper.CompensationSalaryMapper">
  <select id="findAllCompensationHistory"
    parameterType="org.hit.hradar.domain.salary.query.dto.request.CompensationHistorySearchRequest"
    resultType="org.hit.hradar.domain.salary.query.dto.CompensationHistoryDTO">

    SELECT YEAR(ad.APPROVED_AT) AS year
         , cc.CODE              AS compensationCode
         , cc.CODE_NAME         AS compensationType
         , ad.TITLE
         , cse.AMOUNT
         , ad.DOC_TYPE
         , cse.RATE
         , ad.APPROVED_AT
         , cse.EMP_ID
      FROM COMPENSATION_SALARY_EMPLOYEE cse
      JOIN APPROVAL_DOCUMENT ad
        ON cse.DOC_ID = ad.DOC_ID
      JOIN CODE_GROUP cg
        ON cg.GROUP_CODE = 'COMPENSATION_TYPE'
      JOIN COMMON_CODE cc
        ON cc.GROUP_CODE = cg.GROUP_CODE
       AND cc.CODE = cse.COMPENSATION_TYPE
     WHERE cse.IS_DELETED = 'N'
       AND ad.IS_DELETED = 'N'
       AND cg.IS_DELETED = 'N'
       AND ad.DOC_TYPE = 'COMPENSATION'
       AND ad.STATUS = 'APPROVED'
       AND cse.EMP_ID = #{empId}
    <if test="year != null">
       AND YEAR(ad.APPROVED_AT) = #{year}
    </if>
    <if test="compensationCode != null">
       AND cse.COMPENSATION_TYPE = #{compensationCode}
    </if>
  </select>


</mapper>